<!-- https://materializecss.com/getting-started.html -->
<!DOCTYPE html>
<!-- imports para ativar o thymeleaf  -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<!-- Adicionando Javascript -->
<script type="text/javascript">
	$(document).ready(
			function() {

				function limpa_formulário_cep() {
					// Limpa valores do formulário de cep.
					$("#cep").val("");
					$("#rua").val("");
					$("#bairro").val("");
					$("#cidade").val("");
					$("#uf").val("");
					$("#ibge").val("");
				}

				//Quando o campo cep perde o foco.
				$("#cep").blur(
						function() {

							//Nova variável "cep" somente com dígitos.
							var cep = $(this).val().replace(/\D/g, '');

							//Verifica se campo cep possui valor informado.
							if (cep != "") {

								//Expressão regular para validar o CEP.
								var validacep = /^[0-9]{8}$/;

								//Valida o formato do CEP.
								if (validacep.test(cep)) {

									//Preenche os campos com "..." enquanto consulta webservice.
									$("#rua").val("...");
									$("#bairro").val("...");
									$("#cidade").val("...");
									$("#uf").val("...");
									$("#ibge").val("...");

									//Consulta o webservice viacep.com.br/
									$.getJSON("https://viacep.com.br/ws/" + cep
											+ "/json/?callback=?", function(
											dados) {

										if (!("erro" in dados)) {
											//Atualiza os campos com os valores da consulta.
											$("#rua").val(dados.logradouro);
											$("#bairro").val(dados.bairro);
											$("#cidade").val(dados.localidade);
											$("#uf").val(dados.uf);
											$("#ibge").val(dados.ibge);
										} //end if.
										else {
											//CEP pesquisado não foi encontrado.
											limpa_formulário_cep();
											alert("CEP não encontrado.");
										}
									});
								} //end if.
								else {
									//cep é inválido.
									limpa_formulário_cep();
									alert("Formato de CEP inválido.");
								}
							} //end if.
							else {
								//cep sem valor, limpa formulário.
								limpa_formulário_cep();
							}
						});
			});
</script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

	<h3>Spring boot + Thmeleaf + Material Design Lite</h3>
	<br />
	<br />
	
      <a class="waves-effect waves-light btn" href="/profissao.html ">Cadastro
		profissao</a>		
		<br/><br/>

	<fieldset>
		<legend>Cadastro de pessoas</legend>
		<div class="row">
			<br /> <br />
			<!-- vou mostrar as msg -->
			<div th:each="m : ${msg}">
				<span th:text="${m}"></span>
			</div>
			<br /> <br />
			<!-- th:field aponta para o obj do model atras d var pessoaobj -->
			<form action="salvarpessoa" id="formpessoa" method="post"
				th:object="${pessoaobj}" class="col s12">

				<div class="row">
					<div class="input-fiel col s1">
						<label for="id" class="active">ID</label> <input name="id"
							th:field="*{id}" id="id" readonly="readonly">
					</div>
				</div>
				<br />
				<div class="row">
					<div class="input-fiel col s5">
						<label for="nome" class="active">Nome</label> <input
							placeholder="informe o nome" name="nome" th:field="*{nome}"
							id="nome" class="validate">
					</div>

					<div class="input-field col s5">
						<label for="sobrenome" class="active">Sobrenome</label> <input
							name="sobrenome" class="validate" th:field="*{sobrenome}"
							id="sobrenome">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<label for="idade" class="active">Idade</label> <input
							name="idade" th:field="*{idade}" id="idade" class="validate">
					</div>

					<div class="input-field col s3">
						<label for="sexo" class="active">sexo</label>
						 <select
							class="browser-default" th:field="*{sexo}">
							<option value="" disabled selected>Selecione</option>
							<option value="M" th:text="Masculino">
							<option value="F" th:text="Feminino">
						</select>
					</div>
					
					<!-- tenho que criar um obj profissao na classe pessoa -->
					<!-- field vem do pessoaobj do form -->
					<div class="input-field col s3">
						<label for="profissao" class="active">Profissão	</label>
						 <select
							class="browser-default" th:field="*{profissao}" id="profissao">
							
							<option th:each = "p  : ${profissao}" th:value="${p.id}" th:text="${p.nome}">
						</select>
					</div>
				</div>


				<div class="row">
					<div class="input-field col s4">
						<label for="cep" class="active">Cep</label> <input name="cep"
							th:field="*{cep}" id="cep" class="validate">
					</div>

					<div class="input-field col s4">
						<label for="rua" class="active">Rua</label> <input name="rua"
							th:field="*{rua}" id="rua" class="validate">
					</div>

					<div class="input-field col s4">
						<label for="bairro" class="active">Bairro</label> <input
							name="bairro" th:field="*{bairro}" id="bairro" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s4">
						<label for="cidade" class="active">Cidade</label> <input
							name="cidade" th:field="*{cidade}" id="cidade" class="validate">
					</div>

					<div class="input-field col s4">
						<label for="uf" class="active">Rua</label> <input name="uf"
							th:field="*{uf}" id="uf" class="validate">
					</div>

					<div class="input-field col s4">
						<label for="ibge" class="active">ibge</label> <input name="ibge"
							th:field="*{ibge}" id="ibge" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<input class="waves-effect waves-light btn" type="submit"
							value="Salvar">

						<button class="waves-effect waves-light btn"
							onclick="document.getElementById('formpessoa').reset();">Novo</button>

					</div>
				</div>
			</form>
		</div>
	</fieldset>
	<br />
	<br />

	<fieldset>
		<legend>Campo de pesquisa</legend>
		<div class="row">
			<form action="pesquisarpessoa" method="post" class="col s12" id="pesquisarpessoa">
				<div class="row">
					<div class="input-field col s6">
						<label for="nomepesquisa" class="active">Pesquia por nome:</label>
						<input name="nomepesquisa" id="nomepesquisa" class="validate">
					</div>
					
					<div class="input-field col s6">
						<label for="pesqsexo" class="active">Pesquisa sexo</label>
						
						 <select
							class="browser-default" name="pesqsexo" id="pesqsexo">
							<option value="">--[Todos]--</option>
							<option value="M" th:text="Masculino">
							<option value="F" th:text="Feminino">
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<div class="input-field col s6">
						<input class="waves-effect waves-light btn" type="submit"
								value="PDF" onclick="document.getElementById('pesquisarpessoa').method='get'"> 
							<input class="waves-effect waves-light btn" type="submit"
								value="Buscar"> 
								<a class="waves-effect waves-light btn"
								href="/listapessoas">Lista Pessoas</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</fieldset>


	<br />
	<br />
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Idade</th>
				<th>Editar</th>
				<th>Ecluir</th>
			</tr>
		</thead>
		<tr th:each="pessoa : ${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span
					th:text="${pessoa.nome}"></span></a></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
			<td><a
				th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a>
			</td>
			<td><a
				th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a>
			</td>
		</tr>
	</table>

</body>
</html>