<!-- https://materializecss.com/getting-started.html -->
<!DOCTYPE html>
<!-- imports para ativar o thymeleaf  -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>
<body>

	<h3>Spring boot + Thmeleaf + Material Design Lite</h3>
	<br />
	<br />
	<h5>Cadastro de pessoas</h5>
	<a class="waves-effect waves-light btn" href="/cadastropessoa ">Cadastro
		pessoa</a>

	<div th:each="p : ${pessoaobj}">
		<div class="row">
			<p>
				ID: <span th:text="${p.id}"></span>
			</p>
			<p>
				Nome: <span th:text="${p.nome}"></span>
			</p>
			<p>
				Sobrenome: <span th:text="${p.sobrenome}"></span>
			</p>
			<p>
				Idade: <span th:text="${p.idade}"></span>
			</p>
		</div>
	</div>

	<h5>Telefones</h5>
	<div class="row">
		<form
			th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}"
			method="post" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label class="active" for="numero">Número:</label> <input
						id="numero" name="numero" class="validate">
				</div>

				<div class="input-field col s6">
					<label class="active" for="tipo">Tipo:</label> <input id="tipo"
						name="tipo" class="validate">
				</div>

				<input type="submit" value="Adicionar"
					class="waves-effect waves-light btn">
			</div>
		</form>
	</div>

	<table class="striped">
		<tr th:each="fone : ${telefones}">
			<td th:text="${fone.numero}" />
			<td th:text="${fone.tipo}" />
			<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a>
			</td>
		</tr>
	</table>



	
</body>
</html>